body {
    height: 100%; width: 100%;
    position: absolute;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 24px;
    background-color: whitesmoke;
}

#sections {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header, #footer {
    background-color: #5D675B;
    color: #F7EF99;
    font-size: 32px;
    font-family: 'Patrick Hand', cursive;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    /* height: 400px; */
}

#button-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    right: 5px;
}

#button-row img {
    background-color: #F7EF99;
    width: 20%; max-width: 150px;
    box-shadow: 10px 10px #F78E69;
    padding: 10px;
}

#button-row img:hover {
    background-color: #faea3d;
}

#button-row img:focus {
    background-color: #ABE188;
    box-shadow: 10px 10px #69b835;
}

#groups {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 30px;
    text-align: center;
}